/*
Estilos da página index.html
*/

.fundo{
    background-color: #222f3e;
}

.menu{
    font-family: montserrat;
    color: #b2bec3;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


.mbottom-30{
    margin-bottom: 100px;
}

.imgbr-50{
    border-radius: 50%;
}

.sz-img{

    width: 100px;
    height: 100px;
    padding: 50px;

}

.h1{
    font-family: montserrat;
    color: #95a5a6;
    color: #dfe6e9;
}

.h2{
    font-family: montserrat;
    color: #b2bec3;
    color: #dfe6e9;
}

.p{
    font-family: montserrat;
    text-align: start;
    color: #dfe6e9;
    color: #95a5a6;
}

.p-intro{
    font-family: montserrat;
    color: #95a5a6;
}